.left-side {
  display: flex;
  flex: 1;
  background: #eea04e;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #000400;
  font-weight: bold;
}

.right-side {
  display: flex;
  flex: 2;
  background: #fafafa;
  align-items: center;
  justify-content: center;
}

.right-side .join-form a {
  color: gray;
  text-decoration: none;
}

.join-form {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-evenly;
}

.join-form > label {
  text-align: center;
}
